release/calendar_item.html
<!DOCTYPE html>
<html class="main-page-html" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title> </title>
  </head>
  <body class="main-page">
    <header class="header">
      <div class="hedaer__top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-end">
              <button class="btn btn_size-large btn_type-secondary mr-24">Регистрация</button>
              <button class="btn btn_size-large btn_type-primary">Войти</button>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex alig-items-end">
              <div class="d-lg-none w-100">
                <form class="form-search form-search_big" action="">
                  <div class="form-control">
                    <input type="search" placeholder="Поиск…">
                  </div>
                </form>
              </div>
              <div class="d-none d-lg-block">
                <form class="form-search form-search_header" action="">
                  <input type="search" placeholder="Поиск…"><span class="form-search__border"></span>
                </form>
              </div>
              <nav class="header__navigation"><a class="active" href="#">Главная<span class="form-search__border"></span></a><a href="#">Рейтинги<span class="form-search__border"></span></a><a href="#">Календарь<span class="form-search__border"></span></a><a href="#">Статьи<span class="form-search__border"></span></a><a href="#">Фотогалерея<span class="form-search__border"></span></a>
                <div class="header__navigation-dropdawn">
                  <div class="header__navigation-dropdawn-header"><a href="#">Федерация</a><span class="arrow"><img src="images/arrow_down.svg" alt="img"></span>
                    <div class="header__navigation-dropdawn-content"><a href="#">Документы</a><a href="#">Руководящий состав</a><a href="#">Тренерский состав</a><a href="#">Бассейны</a><a href="#">Спортивные организации</a><a href="#">Члены Федерации</a><a href="#">Команда Челябинской области</a>
                    </div><span class="form-search__border"></span>
                  </div>
                </div><a href="#">Контакты<span class="form-search__border"></span></a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header header_mobile">
      <div class="header__navigation header__navigation_mobile"><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.5 9L12.5 2L21.5 9V20C21.5 20.5304 21.2893 21.0391 20.9142 21.4142C20.5391 21.7893 20.0304 22 19.5 22H5.5C4.96957 22 4.46086 21.7893 4.08579 21.4142C3.71071 21.0391 3.5 20.5304 3.5 20V9Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.5 22V12H15.5V22" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Главная</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5 15C16.366 15 19.5 11.866 19.5 8C19.5 4.13401 16.366 1 12.5 1C8.63401 1 5.5 4.13401 5.5 8C5.5 11.866 8.63401 15 12.5 15Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.71 13.8899L7.5 22.9999L12.5 19.9999L17.5 22.9999L16.29 13.8799" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Рейтинги</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V20C3.5 21.1046 4.39543 22 5.5 22H19.5C20.6046 22 21.5 21.1046 21.5 20V6C21.5 4.89543 20.6046 4 19.5 4Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 10H21.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Календарь</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5 2H6.5C5.96957 2 5.46086 2.21071 5.08579 2.58579C4.71071 2.96086 4.5 3.46957 4.5 4V20C4.5 20.5304 4.71071 21.0391 5.08579 21.4142C5.46086 21.7893 5.96957 22 6.5 22H18.5C19.0304 22 19.5391 21.7893 19.9142 21.4142C20.2893 21.0391 20.5 20.5304 20.5 20V8L14.5 2Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 2V8H20.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 13H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 17H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.5 9H9.5H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Статьи</a><a href="#"><span class="login-img"><img class="lazyload" data-src="images/avatar.png" alt="img"></span>Кабинет</a></div>
    </div>
    <div class="page-content">
      <div class="page-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5 order-lg-2">
              <div class="news__item news__item_long mb-24">
                <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span>
                  <h1 class="m-0 mb-8">Турнир ФПЧО «‎Я стану Чемпионом»</h1>
                  <p class="news__description">Челябинск, Россия</p>
                </div>
              </div>
              <button class="btn btn_size-large btn_type-primary w-100" type="button">Подать заявку на участие</button>
            </div>
            <div class="col-12 col-lg-7 order-lg-1">
              <div class="calendar-item">
                <div class="calendar-item__preview mb-24"><img class="lazyload" data-src="images/news-item-1.png" alt="img"></div>
                <h2 class="calendar-item__title">Описание</h2>
                <div class="pb-40">
                  <p>К участию в межрегиональных соревнованиях, являющихся этапом отбора на финал Кубка России, допускаются спортсмены в составе спортивных сборных команд субъектов Российской Федерации: мужчины не моложе 2006 года рождения, женщины не моложе 2008 года рождения, по спортивной подготовленности не ниже I разряда.</p>
                  <p>Cостав спортивной сборной команды субъекта Российской Федерации 40 человек (соотношение мужчин и женщин не регламентируется), 9 тренеров (1 из них тренер-представитель) и 1 судья (обязательно).</p>
                  <p>Субъектам Российской Федерации, в которых проводятся соревнования, являющиеся этапом отбора на финал кубка России, разрешается выставить по 2 команды.</p>
                  <p>Кандидатуры судей должны быть отправлены на электронный адрес swimevents@russwimming.ru не позднее 28 февраля 2021 года одновременно с технической заявкой.</p>
                </div>
                <div>
                  <h2 class="calendar-item__title">Ответственные за проведение соревнования</h2>
                  <div class="row pb-40">
                    <div class="col-12 col-lg-6">
                      <p>Малышева А. Р. — секретать
                      </p>
                    </div>
                    <div class="col-12 col-lg-6">
                      <p>Тимофеев А. Д. — судья
                      </p>
                    </div>
                    <div class="col-12 col-lg-6">
                      <p>Филатова Э. А. — судья
                      </p>
                    </div>
                    <div class="col-12 col-lg-6">
                      <p>Демидов А. А. — директор дивизиона
                      </p>
                    </div>
                  </div>
                </div>
                <h2 class="calendar-item__title">Документы и ссылки</h2>
                <div class="row pb-40">
                  <div class="col-12 col-lg-6 mb-8"><a class="link-more  d-flex align-items-center" href="#" download><img class="lazyload mr-12" data-src="images/file.svg" alt="img"><span class="link-more__text font-size-16">Положение о соревновании</span></a></div>
                  <div class="col-12 col-lg-6 mb-8"><a class="link-more  d-flex align-items-center" href="#" download><img class="lazyload mr-12" data-src="images/file.svg" alt="img"><span class="link-more__text font-size-16">Итоговый протокол</span></a></div>
                  <div class="col-12 col-lg-6 mb-8"><a class="link-more  d-flex align-items-center" href="#"><img class="lazyload mr-12" data-src="images/award.svg" alt="img"><span class="link-more__text font-size-16">Рейтинг соревнования</span></a></div>
                  <div class="col-12 col-lg-6 mb-8"><a class="link-more  d-flex align-items-center" href="#"><img class="lazyload mr-12" data-src="images/image.svg" alt="img"><span class="link-more__text font-size-16">Фотографии с соревнования</span></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center pb-23">
            <div class="col-12 col-lg-6">
              <h2 class="page-title page-title_h2 m-0">Другие события</h2>
            </div>
            <div class="col-12 col-lg-6 d-lg-flex justify-content-end"><a class="link-more link-more_arrow" href="#"><span class="link-more__text">Смотреть все</span><svg class="link-more__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 12H19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 5L19 12L12 19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a></div>
          </div>
          <div class="row pg-lg-190">
            <div class="col-12 col-lg-4">
              <div class="news__item news__item_long"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом»</a>
                  <p class="news__description">Челябинск, Россия</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="news__item news__item_long"><a class="preview" href="#"><img src="images/news-item-2.png" alt="img"></a>
                <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span><a class="news__title" href="#">Турнир ФПЧО «Путь Чемпиона»</a>
                  <p class="news__description">Челябинск, Россия</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="news__item news__item_long"><a class="preview" href="#"><img src="images/news-item-3.png" alt="img"></a>
                <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span><a class="news__title" href="#">V Всероссийская летняя Универсиада</a>
                  <p class="news__description">Челябинск, Россия</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 mb-24 mb-lg-0"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a></div>
            <div class="col-12 col-lg-3"><span class="footer__title">Навигация</span>
              <ul class="footer__list">
                <li><a class="footer__nav-item" href="#">Рейтинги</a></li>
                <li><a class="footer__nav-item" href="#">Календарь соревнований</a></li>
                <li><a class="footer__nav-item" href="#">Статьи</a></li>
                <li><a class="footer__nav-item" href="#">Фотогалерея</a></li>
                <li><a class="footer__nav-item" href="#">Федерация</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-4"><span class="footer__title">Ссылки</span>
              <ul class="footer__list">
                <li><a class="footer__nav-item" href="#">Наши контакты</a></li>
                <li><a class="footer__nav-item" href="#">Ссылки на другие сайты</a></li>
                <li><a class="footer__nav-item" href="#">Политика конфиденциальности</a></li>
                <li><a class="footer__nav-item" href="#">Помощь</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-2"><span class="footer__title">Соц. сети</span>
              <div class="d-flex flex-wrap"><a class="social-link" href="#"><img class="lazyload" data-src="images/social-vk.svg" alt="img"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fotter__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__border"></div>
            </div>
            <div class="col-12">
              <p>Федерация плавания Челябинской области ©2010-2021.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/calendar_item.pug
extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-5 order-lg-2")
					div(class="news__item news__item_long mb-24")
						div(class="news__content")
							span(class="news__date news__date_active")
								| 23 Июля 2021 – 23 Августа 2021
							h1(class="m-0 mb-8")
								| Турнир ФПЧО «‎Я стану Чемпионом»
							p(class="news__description")
								| Челябинск, Россия
					button(type="button" class="btn btn_size-large btn_type-primary w-100")
						| Подать заявку на участие
				div(class="col-12 col-lg-7 order-lg-1")
					div(class="calendar-item")
						div(class="calendar-item__preview mb-24")
							img(class="lazyload" data-src="images/news-item-1.png" alt="img")
						h2(class="calendar-item__title")
							| Описание
						div(class="pb-40")
							p()
								| К участию в межрегиональных соревнованиях, являющихся этапом отбора на финал Кубка России, допускаются спортсмены в составе спортивных сборных команд субъектов Российской Федерации: мужчины не моложе 2006 года рождения, женщины не моложе 2008 года рождения, по спортивной подготовленности не ниже I разряда.
							p()
								| Cостав спортивной сборной команды субъекта Российской Федерации 40 человек (соотношение мужчин и женщин не регламентируется), 9 тренеров (1 из них тренер-представитель) и 1 судья (обязательно).
							p()
								| Субъектам Российской Федерации, в которых проводятся соревнования, являющиеся этапом отбора на финал кубка России, разрешается выставить по 2 команды.
							p()
								| Кандидатуры судей должны быть отправлены на электронный адрес swimevents@russwimming.ru не позднее 28 февраля 2021 года одновременно с технической заявкой.
						div
							h2(class="calendar-item__title")
								| Ответственные за проведение соревнования
							div(class="row pb-40")
								each item, index in ["Малышева А. Р. — секретать", "Тимофеев А. Д. — судья", "Филатова Э. А. — судья", "Демидов А. А. — директор дивизиона"]
									div(class="col-12 col-lg-6")
										p()
											= item
						h2(class="calendar-item__title")
							| Документы и ссылки
						div(class="row pb-40")
							-let img = ["images/file.svg", "images/file.svg", "images/award.svg", "images/image.svg"];
							each item, index in ["Положение о соревновании", "Итоговый протокол", "Рейтинг соревнования", "Фотографии с соревнования"]
								if index == 0 || index == 1
									div(class="col-12 col-lg-6 mb-8")
										a(href="#" class="link-more  d-flex align-items-center" download)
											img(class="lazyload mr-12" data-src=img[index] alt="img")
											span(class="link-more__text font-size-16")
												= item
								else 
									div(class="col-12 col-lg-6 mb-8")
										a(href="#" class="link-more  d-flex align-items-center")
											img(class="lazyload mr-12" data-src=img[index] alt="img")
											span(class="link-more__text font-size-16")
												= item
			div(class="row align-items-center pb-23")
				div(class="col-12 col-lg-6")
					h2(class="page-title page-title_h2 m-0")
						| Другие события
				div(class="col-12 col-lg-6 d-lg-flex justify-content-end")
					include components/link-more-arrow.pug
			div(class="row pg-lg-190")
				each item, index in ["Турнир ФПЧО «‎Я стану Чемпионом»", "Турнир ФПЧО «Путь Чемпиона»", "V Всероссийская летняя Универсиада"]
					div(class="col-12 col-lg-4")
						div(class="news__item news__item_long")
							a(class="preview" href="#")
								-let tmp = "images/news-item-" + (index + 1) + ".png";
								img(src=tmp alt="img")
							div(class="news__content")
								span(class="news__date news__date_active")
									| 23 Июля 2021 – 23 Августа 2021
								a(href="#" class="news__title")
									= item
								p(class="news__description")
									| Челябинск, Россия
