release/federation2.html
<!DOCTYPE html>
<html class="main-page-html" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title> </title>
  </head>
  <body class="main-page">
    <header class="header">
      <div class="hedaer__top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-end">
              <button class="btn btn_size-large btn_type-secondary mr-24">Регистрация</button>
              <button class="btn btn_size-large btn_type-primary">Войти</button>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex alig-items-end">
              <div class="d-lg-none w-100">
                <form class="form-search form-search_big" action="">
                  <div class="form-control">
                    <input type="search" placeholder="Поиск…">
                  </div>
                </form>
              </div>
              <div class="d-none d-lg-block">
                <form class="form-search form-search_header" action="">
                  <input type="search" placeholder="Поиск…"><span class="form-search__border"></span>
                </form>
              </div>
              <nav class="header__navigation"><a class="active" href="#">Главная<span class="form-search__border"></span></a><a href="#">Рейтинги<span class="form-search__border"></span></a><a href="#">Календарь<span class="form-search__border"></span></a><a href="#">Статьи<span class="form-search__border"></span></a><a href="#">Фотогалерея<span class="form-search__border"></span></a>
                <div class="header__navigation-dropdawn">
                  <div class="header__navigation-dropdawn-header"><a href="#">Федерация</a><span class="arrow"><img src="images/arrow_down.svg" alt="img"></span>
                    <div class="header__navigation-dropdawn-content"><a href="#">Документы</a><a href="#">Руководящий состав</a><a href="#">Тренерский состав</a><a href="#">Бассейны</a><a href="#">Спортивные организации</a><a href="#">Члены Федерации</a><a href="#">Команда Челябинской области</a>
                    </div><span class="form-search__border"></span>
                  </div>
                </div><a href="#">Контакты<span class="form-search__border"></span></a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header header_mobile">
      <div class="header__navigation header__navigation_mobile"><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.5 9L12.5 2L21.5 9V20C21.5 20.5304 21.2893 21.0391 20.9142 21.4142C20.5391 21.7893 20.0304 22 19.5 22H5.5C4.96957 22 4.46086 21.7893 4.08579 21.4142C3.71071 21.0391 3.5 20.5304 3.5 20V9Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.5 22V12H15.5V22" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Главная</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5 15C16.366 15 19.5 11.866 19.5 8C19.5 4.13401 16.366 1 12.5 1C8.63401 1 5.5 4.13401 5.5 8C5.5 11.866 8.63401 15 12.5 15Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.71 13.8899L7.5 22.9999L12.5 19.9999L17.5 22.9999L16.29 13.8799" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Рейтинги</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V20C3.5 21.1046 4.39543 22 5.5 22H19.5C20.6046 22 21.5 21.1046 21.5 20V6C21.5 4.89543 20.6046 4 19.5 4Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 10H21.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Календарь</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5 2H6.5C5.96957 2 5.46086 2.21071 5.08579 2.58579C4.71071 2.96086 4.5 3.46957 4.5 4V20C4.5 20.5304 4.71071 21.0391 5.08579 21.4142C5.46086 21.7893 5.96957 22 6.5 22H18.5C19.0304 22 19.5391 21.7893 19.9142 21.4142C20.2893 21.0391 20.5 20.5304 20.5 20V8L14.5 2Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 2V8H20.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 13H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 17H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.5 9H9.5H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Статьи</a><a href="#"><span class="login-img"><img class="lazyload" data-src="images/avatar.png" alt="img"></span>Кабинет</a></div>
    </div>
    <div class="page-content">
      <div class="page-section">
        <div class="container">
          <div class="row pg-lg-90">
            <div class="col-12">
              <h2 class="page-title page-title_h2 mb-8">Бассейны</h2>
            </div>
            <div class="col-12 col-lg-7">
              <p class="page-description">Список всех бассейнов в Челябинской области и ссылки на их сайты</p>
            </div>
            <div class="col-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <td>Название
                      </td>
                      <td>Город
                      </td>
                      <td>Кол-во бассейнов:
                      </td>
                      <td>Длина дорожек
                      </td>
                      <td class="text-right">Сайт
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                    <tr>
                      <td>СК «Металлург» ОАО «АМЗ»
                      </td>
                      <td>Магнитогорск
                      </td>
                      <td>2
                      </td>
                      <td>25 м
                      </td>
                      <td class="text-right"><a class="link-more" href="#"><span class="link-more__text">vk.com/mbusokmettalurg</span></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2 class="page-title page-title_h2 mb-8">Спортивные организации</h2>
            </div>
            <div class="col-12 col-lg-7 mb-24">
              <p class="page-description">Список всех спортивных организаций по плаванию в Челябинской области и ссылки на их сайты</p>
            </div>
          </div>
          <div class="row pg-lg-190">
            <div class="col-12 col-md-6 col-lg-4 mb-24">
              <div class="organization-item"><span class="title">МБУ СШОР ЮНИКА</span>
                <div class="d-flex align-items-center"><span class="city">Город:</span><span class="city-type">Челябинск</span></div><a class="link" href="#">yunika.edusite.ru</a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-24">
              <div class="organization-item"><span class="title">МБУ СОШ №7</span>
                <div class="d-flex align-items-center"><span class="city">Город:</span><span class="city-type">Челябинск</span></div><a class="link" href="#">waterschool7.edusite.ru</a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-24">
              <div class="organization-item"><span class="title">ЦСП Чел. области Аквамарин</span>
                <div class="d-flex align-items-center"><span class="city">Город:</span><span class="city-type">Челябинск</span></div>
                <div class="link">-
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-24">
              <div class="organization-item"><span class="title">МБУ СОШ №4</span>
                <div class="d-flex align-items-center"><span class="city">Город:</span><span class="city-type">Миасс</span></div><a class="link" href="#">sport4miass.ru/pages/plavanie.php</a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-24">
              <div class="organization-item"><span class="title">МБУ СШОР №1</span>
                <div class="d-flex align-items-center"><span class="city">Город:</span><span class="city-type">Трехгорный</span></div><a class="link" href="#">schor1.ru/swimming</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 mb-24 mb-lg-0"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a></div>
            <div class="col-12 col-lg-3"><span class="footer__title">Навигация</span>
              <ul class="footer__list">
                <li><a class="footer__nav-item" href="#">Рейтинги</a></li>
                <li><a class="footer__nav-item" href="#">Календарь соревнований</a></li>
                <li><a class="footer__nav-item" href="#">Статьи</a></li>
                <li><a class="footer__nav-item" href="#">Фотогалерея</a></li>
                <li><a class="footer__nav-item" href="#">Федерация</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-4"><span class="footer__title">Ссылки</span>
              <ul class="footer__list">
                <li><a class="footer__nav-item" href="#">Наши контакты</a></li>
                <li><a class="footer__nav-item" href="#">Ссылки на другие сайты</a></li>
                <li><a class="footer__nav-item" href="#">Политика конфиденциальности</a></li>
                <li><a class="footer__nav-item" href="#">Помощь</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-2"><span class="footer__title">Соц. сети</span>
              <div class="d-flex flex-wrap"><a class="social-link" href="#"><img class="lazyload" data-src="images/social-vk.svg" alt="img"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fotter__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__border"></div>
            </div>
            <div class="col-12">
              <p>Федерация плавания Челябинской области ©2010-2021.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/federation2.pug
extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row pg-lg-90")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Бассейны
				div(class="col-12 col-lg-7")
					p(class="page-description")
						| Список всех бассейнов в Челябинской области и ссылки на их сайты
				div(class="col-12")
					div(class="table-responsive")
						table(class="table")
							thead()
								tr()
									each item, index in ["Название", "Город", "Кол-во бассейнов:", "Длина дорожек", "Сайт"]
										if index == 4 
											td(class="text-right")
												= item
										else
											td()
												= item
							tbody()
								-for(let i = 0; i < 11; i++)
									tr()
										each item, index in ["СК «Металлург» ОАО «АМЗ»", "Магнитогорск", "2", "25 м", "vk.com/mbusokmettalurg"]
											if index == 4 
												td(class="text-right")
													a(href="#" class="link-more")
														span(class="link-more__text")
															= item
											else
												td()
													= item
			div(class="row")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Спортивные организации
				div(class="col-12 col-lg-7 mb-24")
					p(class="page-description")
						| Список всех спортивных организаций по плаванию в Челябинской области и ссылки на их сайты
			div(class="row pg-lg-190")
				-let city = ["Челябинск", "Челябинск", "Челябинск", "Миасс", "Трехгорный"]
				-let link = ["yunika.edusite.ru", "waterschool7.edusite.ru", "-", "sport4miass.ru/pages/plavanie.php", "schor1.ru/swimming"]
				each item, index in ["МБУ СШОР ЮНИКА", "МБУ СОШ №7", "ЦСП Чел. области Аквамарин", "МБУ СОШ №4", "МБУ СШОР №1"]
					div(class="col-12 col-md-6 col-lg-4 mb-24")
						div(class="organization-item")
							span(class="title")
								= item
							div(class="d-flex align-items-center")
								span(class="city")
									| Город:
								span(class="city-type")
									= city[index]
							if index == 2
								div(class="link")
									= link[index]
							else 
								a(href="#" class="link")
									= link[index]
