source/html/index.pug
extends base.pug
block content
	h1(class="screen-reader-text")
		| главная
	div(class="container")
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 col-lg-6 d-none d-lg-block")
				div(class="news__item news__item_long")
					a(class="preview" href="#")
						img(src="images/news-item-1.png" alt="img")
					div(class="news__content")
						span(class="news__date")
							| 23.06.2021
						a(href="#" class="news__title")
							| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
						p(class="news__description")
							| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
						a(class="news__link-more" href="#")
							| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-block")
				h2(class="page-title page-title_h2")
					| Последние новости
				- let date = ["23.06.2021", "15.06.2021", "27.05.2021", "24.05.2021", "12.04.2021"]
				each item, index in ["Предложение для групп болельщиков чемпионата мира ФИНА по водным видам спорта", "В России впервые пройдут международные соревнования «Кубок Чемпионов»", "Спортивная жизнь Мастера спорта РФ — Лаврика Алексея", "Есть ли спортивное плавание в Чебуркале?", "День рождения Ольги Юрьевны (г. Челябинск ПБ «‎Строитель»)"]
					div(class="news__item news__item_only-title-date")
						div(class="news__content")
							span(class="news__date")
								= date[index]
							a(href="#" class="news__title")
								= item
			div(class="col-12 col-lg-6 d-block d-lg-none")
				h2(class="page-title page-title_h2")
					| Последние новости
				div(class="swiper-container welcome-slider")
					div(class="swiper-wrapper")
						- let date2 = ["23.06.2021", "15.06.2021", "27.05.2021", "24.05.2021", "12.04.2021"];
						each item, index in ["День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича"]
							div(class="news__item news__item_only-title-date swiper-slide")
								a(class="preview" href="#")
									img(src="images/news-item-1.png" alt="img")
								div(class="news__content")
									a(href="#" class="news__title")
										= item
									span(class="news__date")
										= date2[index]
					div(class="swiper-pagination swiper-pagination_welcome")
		div(class="row align-items-center pb-16 pb-lg-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Календарь соревнований
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						each item, index in ["Турнир ФПЧО «‎Я стану Чемпионом»", "Турнир ФПЧО «Путь Чемпиона»", "V Всероссийская летняя Универсиада"]
							div(class="swiper-slide")
								div(class="news__item")
									a(class="preview" href="#")
										-let tmp = "images/news-item-" + (index + 1) + ".png";
										img(src=tmp alt="img")
									div(class="news__content")
										span(class="news__date news__date_active")
											| 23 Июля 2021 – 23 Августа 2021
										a(href="#" class="news__title")
											= item
										p(class="news__description")
											| Челябинск, Россия
		div(class="row align-items-center")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2")
					| Дни рождения
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						-desc = ["С днем рождения тренера Ольгы Юрьевны (г.Челябинск ПБ «‎Строитель»)", "Поздравляем директора СШОР № 7 Ивана Иванова (г.Челябинск)", "Поздравляем тренера Марии Сергеевной (г. Челябинск СШОР №7)", "Поздравляем тренера Юлию Артемовну (г. Златоуст СШОР №8)"]
						each item, index in ["День рождения Ольги Юрьевны", "День рождения Ивана Иванова", "День рождения Марии Сергеевной", "День рождения Юлии Артемовны"]
							div(class="swiper-slide")
								div(class="news__item news__item_mini")
									a(class="preview" href="#")
										-let tmp = "images/birthday-item-" + (index + 1) + ".png";
										img(src=tmp alt="img")
									div(class="news__content")
										span(class="news__date news__date_color-m")
											| 23.06.2021
										a(href="#" class="news__title")
											= item
										p(class="news__description")
											= desc[index]
		div(class="row align-items-center pb-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Последние статьи
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-48 pg-lg-90")
			div(class="d-lg-none px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						-for(let i = 0; i < 4; i++)
							div(class="news__item news__item_long swiper-slide")
								a(class="preview" href="#")
									img(src="images/news-item-1.png" alt="img")
								div(class="news__content")
									span(class="news__date news__date_color-m")
										| 23.06.2021
									a(href="#" class="news__title")
										| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
									p(class="news__description")
										| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
									a(class="news__link-more d-none d-lg-inline-block" href="#")
										| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-none")
				div(class="news__item news__item_long")
					a(class="preview" href="#")
						img(src="images/news-item-1.png" alt="img")
					div(class="news__content")
						span(class="news__date")
							| 23.06.2021
						a(href="#" class="news__title")
							| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
						p(class="news__description")
							| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
						a(class="news__link-more" href="#")
							| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-none")
				-for(let i = 0; i < 3; i ++)
					div(class="news__item news__item_row mb-24")
						a(class="preview" href="#")
							img(src="images/news-item-1.png" alt="img")
						div(class="news__content")
							span(class="news__date")
								| 23.06.2021
							a(href="#" class="news__title")
								| Есть ли спортивное плавание в Чебуркале?
							a(class="news__link-more" href="#")
								| Читать полностью
		div(class="row align-items-center pb-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Фотогаллерея
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-90 pg-lg-190")
			div(class="d-block d-lg-none px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						div(class="swiper-slide")
							a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
								img(class="lazyload" data-src="images/photo1.png" alt="img")
						-for(let i = 0; i < 3; i ++)
							div(class="swiper-slide")
								a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
									img(class="lazyload" data-src="images/photo1.png" alt="img")
						div(class="swiper-slide")
							div(class="block-photo-gallery block-photo-gallery_link" )
								img(class="lazyload" data-src="images/photo1.png" alt="img")
								a(class="block-photo-gallery__content" href="#")
									| 9+ 
			div(class="col-12 col-lg-6 d-none d-lg-block")
				a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
					img(class="lazyload" data-src="images/photo1.png" alt="img")
			div(class="col-12 col-lg-6 d-none d-lg-block")
				div(class="block-photo-gallery-wrapper")
					-for(let i = 0; i < 3; i ++)
						a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
							img(class="lazyload" data-src="images/photo1.png" alt="img")
					div(class="block-photo-gallery block-photo-gallery_link" )
						img(class="lazyload" data-src="images/photo1.png" alt="img")
						a(class="block-photo-gallery__content" href="#")
							| 9+ 
			div(class="col-12 d-none d-lg-block")
				p(class="block-photo-gallery-text")
					| Выложили фотографии с турнира ФПЧО «Я стану Чемпионом‎» - I этап, проведенного на базе плавательного бассейна «Строитель» в городе Магнитороск… 
					a(href="#" class="color-main")
						| Смотреть все фотографии с турнира

release/index.html
<!DOCTYPE html>
<html class="main-page-html" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title> </title>
  </head>
  <body class="main-page">
    <header class="header">
      <div class="hedaer__top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a></div>
            <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-end">
              <button class="btn btn_size-large btn_type-secondary mr-24">Регистрация</button>
              <button class="btn btn_size-large btn_type-primary">Войти</button>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex alig-items-end">
              <div class="d-lg-none w-100">
                <form class="form-search form-search_big" action="">
                  <div class="form-control">
                    <input type="search" placeholder="Поиск…">
                  </div>
                </form>
              </div>
              <div class="d-none d-lg-block">
                <form class="form-search form-search_header" action="">
                  <input type="search" placeholder="Поиск…"><span class="form-search__border"></span>
                </form>
              </div>
              <nav class="header__navigation"><a class="active" href="#">Главная<span class="form-search__border"></span></a><a href="#">Рейтинги<span class="form-search__border"></span></a><a href="#">Календарь<span class="form-search__border"></span></a><a href="#">Статьи<span class="form-search__border"></span></a><a href="#">Фотогалерея<span class="form-search__border"></span></a>
                <div class="header__navigation-dropdawn">
                  <div class="header__navigation-dropdawn-header"><a href="#">Федерация</a><span class="arrow"><img src="images/arrow_down.svg" alt="img"></span>
                    <div class="header__navigation-dropdawn-content"><a href="#">Документы</a><a href="#">Руководящий состав</a><a href="#">Тренерский состав</a><a href="#">Бассейны</a><a href="#">Спортивные организации</a><a href="#">Члены Федерации</a><a href="#">Команда Челябинской области</a>
                    </div><span class="form-search__border"></span>
                  </div>
                </div><a href="#">Контакты<span class="form-search__border"></span></a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header header_mobile">
      <div class="header__navigation header__navigation_mobile"><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.5 9L12.5 2L21.5 9V20C21.5 20.5304 21.2893 21.0391 20.9142 21.4142C20.5391 21.7893 20.0304 22 19.5 22H5.5C4.96957 22 4.46086 21.7893 4.08579 21.4142C3.71071 21.0391 3.5 20.5304 3.5 20V9Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.5 22V12H15.5V22" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Главная</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5 15C16.366 15 19.5 11.866 19.5 8C19.5 4.13401 16.366 1 12.5 1C8.63401 1 5.5 4.13401 5.5 8C5.5 11.866 8.63401 15 12.5 15Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.71 13.8899L7.5 22.9999L12.5 19.9999L17.5 22.9999L16.29 13.8799" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Рейтинги</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V20C3.5 21.1046 4.39543 22 5.5 22H19.5C20.6046 22 21.5 21.1046 21.5 20V6C21.5 4.89543 20.6046 4 19.5 4Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 10H21.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Календарь</a><a href="#">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5 2H6.5C5.96957 2 5.46086 2.21071 5.08579 2.58579C4.71071 2.96086 4.5 3.46957 4.5 4V20C4.5 20.5304 4.71071 21.0391 5.08579 21.4142C5.46086 21.7893 5.96957 22 6.5 22H18.5C19.0304 22 19.5391 21.7893 19.9142 21.4142C20.2893 21.0391 20.5 20.5304 20.5 20V8L14.5 2Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.5 2V8H20.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 13H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 17H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.5 9H9.5H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Статьи</a><a href="#"><span class="login-img"><img class="lazyload" data-src="images/avatar.png" alt="img"></span>Кабинет</a></div>
    </div>
    <div class="page-content">
      <h1 class="screen-reader-text">главная</h1>
      <div class="container">
        <div class="row pb-48 pg-lg-90">
          <div class="col-12 col-lg-6 d-none d-lg-block">
            <div class="news__item news__item_long"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
              <div class="news__content"><span class="news__date">23.06.2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом» — третий этап</a>
                <p class="news__description">Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…</p><a class="news__link-more" href="#">Читать полностью</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-block">
            <h2 class="page-title page-title_h2">Последние новости</h2>
            <div class="news__item news__item_only-title-date">
              <div class="news__content"><span class="news__date">23.06.2021</span><a class="news__title" href="#">Предложение для групп болельщиков чемпионата мира ФИНА по водным видам спорта</a></div>
            </div>
            <div class="news__item news__item_only-title-date">
              <div class="news__content"><span class="news__date">15.06.2021</span><a class="news__title" href="#">В России впервые пройдут международные соревнования «Кубок Чемпионов»</a></div>
            </div>
            <div class="news__item news__item_only-title-date">
              <div class="news__content"><span class="news__date">27.05.2021</span><a class="news__title" href="#">Спортивная жизнь Мастера спорта РФ — Лаврика Алексея</a></div>
            </div>
            <div class="news__item news__item_only-title-date">
              <div class="news__content"><span class="news__date">24.05.2021</span><a class="news__title" href="#">Есть ли спортивное плавание в Чебуркале?</a></div>
            </div>
            <div class="news__item news__item_only-title-date">
              <div class="news__content"><span class="news__date">12.04.2021</span><a class="news__title" href="#">День рождения Ольги Юрьевны (г. Челябинск ПБ «‎Строитель»)</a></div>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-block d-lg-none">
            <h2 class="page-title page-title_h2">Последние новости</h2>
            <div class="swiper-container welcome-slider">
              <div class="swiper-wrapper">
                <div class="news__item news__item_only-title-date swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><a class="news__title" href="#">День рождения Николая Петровича</a><span class="news__date">23.06.2021</span></div>
                </div>
                <div class="news__item news__item_only-title-date swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><a class="news__title" href="#">День рождения Николая Петровича</a><span class="news__date">15.06.2021</span></div>
                </div>
                <div class="news__item news__item_only-title-date swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><a class="news__title" href="#">День рождения Николая Петровича</a><span class="news__date">27.05.2021</span></div>
                </div>
                <div class="news__item news__item_only-title-date swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><a class="news__title" href="#">День рождения Николая Петровича</a><span class="news__date">24.05.2021</span></div>
                </div>
                <div class="news__item news__item_only-title-date swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><a class="news__title" href="#">День рождения Николая Петровича</a><span class="news__date">12.04.2021</span></div>
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination_welcome"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center pb-16 pb-lg-23">
          <div class="col-12 col-lg-6">
            <h2 class="page-title page-title_h2 m-0">Календарь соревнований</h2>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-end"><a class="link-more link-more_arrow" href="#"><span class="link-more__text">Смотреть все</span><svg class="link-more__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 12H19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 5L19 12L12 19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a></div>
        </div>
        <div class="row pb-48 pg-lg-90">
          <div class="col-12 px-0 pl-20">
            <div class="swiper-container default-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="news__item"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом»</a>
                      <p class="news__description">Челябинск, Россия</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news__item"><a class="preview" href="#"><img src="images/news-item-2.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span><a class="news__title" href="#">Турнир ФПЧО «Путь Чемпиона»</a>
                      <p class="news__description">Челябинск, Россия</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news__item"><a class="preview" href="#"><img src="images/news-item-3.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_active">23 Июля 2021 – 23 Августа 2021</span><a class="news__title" href="#">V Всероссийская летняя Универсиада</a>
                      <p class="news__description">Челябинск, Россия</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="page-title page-title_h2">Дни рождения</h2>
          </div>
        </div>
        <div class="row pb-48 pg-lg-90">
          <div class="col-12 px-0 pl-20">
            <div class="swiper-container default-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="news__item news__item_mini"><a class="preview" href="#"><img src="images/birthday-item-1.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">День рождения Ольги Юрьевны</a>
                      <p class="news__description">С днем рождения тренера Ольгы Юрьевны (г.Челябинск ПБ «‎Строитель»)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news__item news__item_mini"><a class="preview" href="#"><img src="images/birthday-item-2.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">День рождения Ивана Иванова</a>
                      <p class="news__description">Поздравляем директора СШОР № 7 Ивана Иванова (г.Челябинск)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news__item news__item_mini"><a class="preview" href="#"><img src="images/birthday-item-3.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">День рождения Марии Сергеевной</a>
                      <p class="news__description">Поздравляем тренера Марии Сергеевной (г. Челябинск СШОР №7)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="news__item news__item_mini"><a class="preview" href="#"><img src="images/birthday-item-4.png" alt="img"></a>
                    <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">День рождения Юлии Артемовны</a>
                      <p class="news__description">Поздравляем тренера Юлию Артемовну (г. Златоуст СШОР №8)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center pb-23">
          <div class="col-12 col-lg-6">
            <h2 class="page-title page-title_h2 m-0">Последние статьи</h2>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-end"><a class="link-more link-more_arrow" href="#"><span class="link-more__text">Смотреть все</span><svg class="link-more__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 12H19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 5L19 12L12 19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a></div>
        </div>
        <div class="row pb-48 pg-lg-90">
          <div class="d-lg-none px-0 pl-20">
            <div class="swiper-container default-slider">
              <div class="swiper-wrapper">
                <div class="news__item news__item_long swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом» — третий этап</a>
                    <p class="news__description">Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…</p><a class="news__link-more d-none d-lg-inline-block" href="#">Читать полностью</a>
                  </div>
                </div>
                <div class="news__item news__item_long swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом» — третий этап</a>
                    <p class="news__description">Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…</p><a class="news__link-more d-none d-lg-inline-block" href="#">Читать полностью</a>
                  </div>
                </div>
                <div class="news__item news__item_long swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом» — третий этап</a>
                    <p class="news__description">Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…</p><a class="news__link-more d-none d-lg-inline-block" href="#">Читать полностью</a>
                  </div>
                </div>
                <div class="news__item news__item_long swiper-slide"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
                  <div class="news__content"><span class="news__date news__date_color-m">23.06.2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом» — третий этап</a>
                    <p class="news__description">Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…</p><a class="news__link-more d-none d-lg-inline-block" href="#">Читать полностью</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-none">
            <div class="news__item news__item_long"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
              <div class="news__content"><span class="news__date">23.06.2021</span><a class="news__title" href="#">Турнир ФПЧО «‎Я стану Чемпионом» — третий этап</a>
                <p class="news__description">Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…</p><a class="news__link-more" href="#">Читать полностью</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-none">
            <div class="news__item news__item_row mb-24"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
              <div class="news__content"><span class="news__date">23.06.2021</span><a class="news__title" href="#">Есть ли спортивное плавание в Чебуркале?</a><a class="news__link-more" href="#">Читать полностью</a></div>
            </div>
            <div class="news__item news__item_row mb-24"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
              <div class="news__content"><span class="news__date">23.06.2021</span><a class="news__title" href="#">Есть ли спортивное плавание в Чебуркале?</a><a class="news__link-more" href="#">Читать полностью</a></div>
            </div>
            <div class="news__item news__item_row mb-24"><a class="preview" href="#"><img src="images/news-item-1.png" alt="img"></a>
              <div class="news__content"><span class="news__date">23.06.2021</span><a class="news__title" href="#">Есть ли спортивное плавание в Чебуркале?</a><a class="news__link-more" href="#">Читать полностью</a></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center pb-23">
          <div class="col-12 col-lg-6">
            <h2 class="page-title page-title_h2 m-0">Фотогаллерея</h2>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-flex justify-content-end"><a class="link-more link-more_arrow" href="#"><span class="link-more__text">Смотреть все</span><svg class="link-more__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 12H19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 5L19 12L12 19" stroke="#0097F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a></div>
        </div>
        <div class="row pb-90 pg-lg-190">
          <div class="d-block d-lg-none px-0 pl-20">
            <div class="swiper-container default-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a></div>
                <div class="swiper-slide"><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a></div>
                <div class="swiper-slide"><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a></div>
                <div class="swiper-slide"><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a></div>
                <div class="swiper-slide">
                  <div class="block-photo-gallery block-photo-gallery_link"><img class="lazyload" data-src="images/photo1.png" alt="img"><a class="block-photo-gallery__content" href="#">9+ </a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-block"><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a></div>
          <div class="col-12 col-lg-6 d-none d-lg-block">
            <div class="block-photo-gallery-wrapper"><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a><a class="block-photo-gallery" href="images/photo1.png" data-fancybox="gallery"><img class="lazyload" data-src="images/photo1.png" alt="img"></a>
              <div class="block-photo-gallery block-photo-gallery_link"><img class="lazyload" data-src="images/photo1.png" alt="img"><a class="block-photo-gallery__content" href="#">9+ </a></div>
            </div>
          </div>
          <div class="col-12 d-none d-lg-block">
            <p class="block-photo-gallery-text">Выложили фотографии с турнира ФПЧО «Я стану Чемпионом‎» - I этап, проведенного на базе плавательного бассейна «Строитель» в городе Магнитороск… <a class="color-main" href="#">Смотреть все фотографии с турнира</a></p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 mb-24 mb-lg-0"><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a></div>
            <div class="col-12 col-lg-3"><span class="footer__title">Навигация</span>
              <ul class="footer__list">
                <li><a class="footer__nav-item" href="#">Рейтинги</a></li>
                <li><a class="footer__nav-item" href="#">Календарь соревнований</a></li>
                <li><a class="footer__nav-item" href="#">Статьи</a></li>
                <li><a class="footer__nav-item" href="#">Фотогалерея</a></li>
                <li><a class="footer__nav-item" href="#">Федерация</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-4"><span class="footer__title">Ссылки</span>
              <ul class="footer__list">
                <li><a class="footer__nav-item" href="#">Наши контакты</a></li>
                <li><a class="footer__nav-item" href="#">Ссылки на другие сайты</a></li>
                <li><a class="footer__nav-item" href="#">Политика конфиденциальности</a></li>
                <li><a class="footer__nav-item" href="#">Помощь</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-2"><span class="footer__title">Соц. сети</span>
              <div class="d-flex flex-wrap"><a class="social-link" href="#"><img class="lazyload" data-src="images/social-vk.svg" alt="img"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fotter__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__border"></div>
            </div>
            <div class="col-12">
              <p>Федерация плавания Челябинской области ©2010-2021.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
